<ul style="list-style-type: circle">
    <li>Bangladesh</li>
    <li>India</li>
    <li>Nepal</li>
</ul><br>
<ul style="list-style-type: square">
    <li>Bangladesh</li>
    <li>India</li>
    <li>Nepal</li>
</ul><br>
<ul style="list-style-type: disc">
    <li>Bangladesh</li>
    <li>India</li>
    <li>Nepal</li>
</ul><br>
<ul style="list-style-type: none">
    <li>Bangladesh</li>
    <li>India</li>
    <li>Nepal</li>
</ul>
<br>
<ol>
    <li>Bangladesh</li>
    <li>India</li>
    <li>Nepal</li>
</ol>
<br>
<ol type="1">
    <li>Bangladesh</li>
    <li>India</li>
    <li>Nepal</li>
</ol>
<br>
<ol type="A">
    <li>Bangladesh</li>
    <li>India</li>
    <li>Nepal</li>
</ol>
<br>
<ol type="a">
    <li>Bangladesh</li>
    <li>India</li>
    <li>Nepal</li>
</ol>
<br>
<dl>
    <dt>Sakib Al Hasan</dt>
    <dd>World class batsman</dd>
    <dt>Mustafizur Rahman</dt>
    <dd>World class bowlar</dd>
</dl>